name: Create Issue Branch
on:
  issues:
    types: [ assigned, opened ]

jobs:
  create_issue_branch_job:
    runs-on: ubuntu-latest
    steps:
      - name: Create Issue Branch
        uses: robvanderleek/create-issue-branch@main
        env:
          GITHUB_TOKEN: ${{ secrets.ROBINJOON_GITHUB_TOKEN }}